body {
    margin: 0;
    padding: 0;
    background-color: rgba(235,233,235,255);
}

#svgContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#cardPin {
    width: 10rem;
    height: 10rem;
    z-index: 2;
}

.fan {
    position: absolute;
    width: 25rem;
    height: 25rem;
    stroke: white;
    stroke-width: 2.5; 
    top: 50%;
    right: 50%;
    transform-origin: top right;
    paint-order: stroke;
}