body {
    margin: 0;
    padding: 0;
    background-color: rgba(235,233,235,255);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#svgContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#cardPin {
    width: 15vh;
    height: 15vh;
    z-index: 2;
    fill: black;
    stroke: white;
    stroke-width: 2.5;
}

@keyframes rotation {
    from {
        transform: rotateZ(0deg); 
    }

    to {
        transform: rotateZ(360deg); 
    }
}

.fan {
    position: absolute;
    width: 40vh;
    height: 40vh;
    stroke: white;
    stroke-width: 2.5; 
    top: 50%;
    right: 50%;
    transform-origin: top right;
    paint-order: stroke;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-name: rotation;
}